{%extends 'main/base.html' %}
{% load static %}
{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="mt-4">
                <h5 class="text-center">Post your project</h5>
                <form style="border: 1px solid black; padding: 1.5rem 1rem; margin-bottom: 1rem;" method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-dark btn-sm m-3">Submit</button>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}

